/* Set the root variables */
:root{
    --color-primary: #007FA3;
    --color-pearson: #ffffff;
    --color-label: #555555;
    --color-text: #333333;
    --font-family: "Poppins", sans-serif;
}

/* General Body Styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--color-pearson); 
    color: var(--color-text); 
    padding-top: 20px;
}

/* Container Styling */
.container {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed to flex-start for top alignment */
    align-items: center;
    margin-bottom: 50px;
    background: #ffffff; /* Light container background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 100px 20px; 
}

/* Chart Styling */
#chart {
    width: 100%;
    background: #ffffff; /* Lighter chart background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 7px;
}

/* Slider Container Styling */
.slidecontainer {
    width: 80%;
    margin: 20px auto;
    text-align: center; 
}

/* Slider Text Styling */
.slider-text {
    font-size: 16px;
    color: #333333;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* Slider Styling */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 9px;
    background: #cccccc; /* Light slider background */
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #007FA3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #007FA3;
    cursor: pointer;
}

/* File Upload Button Styling */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #007FA3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Added margin for spacing */
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

/* Change the bubble color */
circle {
    opacity: 0.9;
}

/* Download Button Styling */
.download-btn {
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #007FA3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Added margin for spacing */
}

.download-btn:hover {
    background-color: #0056b3;
}
